.start-wrapper{
  height:100vh;
  background-color: #ECECEC;

  button{
    background-color: #9E241C;
    border: none;
    padding:10px;
    height:130px;
    width:25%;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;

    &:hover{
      background-color: #576271;
    }

    @media all and (min-width: 1024px) and (max-width: 1280px) { font-size: 1.25rem; height: 100px }

  }

  p{
    color: #576271;
    font-size: 1.25rem;
  }

}