.login-container{
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .login-content-wrapper {
    min-height:80%;

    .image-logo {
      width: 90%;
      @media all and (min-width: 1024px) and (max-width: 1280px) {width: 100%; }
    }

    .login-content-form {
      .login-input {
        height: 38px;
        margin-bottom: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.95rem;
        text-indent: 1rem;
        border: none;
        @media all and (min-width: 1024px) and (max-width: 1280px) {font-size: 0.8rem; }
      }

      .button-login {
        background-color: #873131;
        height: 38px;
        margin-bottom: 1rem;
        border: none;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;

      }

      .login-link {
        color: #F89408;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
        text-decoration: none;
        align-self: flex-start;
        @media all and (min-width: 1024px) and (max-width: 1280px) {font-size: 0.8rem; }
      }

    }

    .login-content-bottom {
      p {
        color: #F89408;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin-bottom: 0;
        @media all and (min-width: 1024px) and (max-width: 1280px) {font-size: 0.95rem; }
      }
    }
  }

}



