.select-container{
  height:100%;

  .header{
    background-color: #F2F2F2;
    border-radius: 10px;
    height:65px;
    padding:0 20px;
  }

  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #576271;
  }

  .content{
    background-color: #fff;
    height:150px;

  }

  .footer{
    background-color: #F2F2F2;
    border-radius: 10px;
    height:45px;
    padding:0 20px;
  }
}