.well-container{
  height: 100%;
  padding:32px;

  h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    color: #576271;
    line-height:2rem;
    border-bottom: 8px solid #9E241C;
    margin-bottom:32px;
  }

  button{
    background-color: #9E241C;
    border: none;
    padding:10px;
    height:40px;
    width:30%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 8px;
    text-transform: none;

    &:nth-child(2){
      background-color: #637A63;
    }

    &:hover{
      background-color: #576271;
    }
  }


}

