.edit-well-container{

  .edit-well-content{
    background-color: #fff;
    box-shadow: 1px 1px 6px rgba(183, 183, 183, 0.5);
    padding:32px;

    h1{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.625rem;
      font-weight: 400;
      color: #576271;
      line-height:2rem;
      border-bottom: 8px solid #9E241C;
      margin-bottom:32px;
    }

    h2{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.25rem;
      font-weight: 800;
      color: #576271;
      margin-bottom:32px;
    }

    input{
      background: rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      border: none;
      height: 35px;
      width: 70%;
    }

    label{
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      color: #576271;
    }

    table{
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      color: #576271;

      th{
        background: #fff;
        text-align: left;
      }

      tr{
        background: #EDEDED;
        border-radius: 10px;
        text-align: left;
      }


      td:nth-child(2) {
        padding-left:15px;
      }


      button{
        background: #EDEDED;
        color: #EC1E24;
        border: none;
        padding:5px;
      }

      button:hover{
        background: #EDEDED;
        color: #576271;
        border: none;
        padding:5px;
      }

      input{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: #576271;
        text-indent: 1rem;
      }

    }




  }

}

.dialog-container{
  button{
    background: #EDEDED;
    color: #EC1E24;
    border: none;
    padding:5px;
  }

  button:hover{
    background: #EDEDED;
    color: #576271;
    border: none;
    padding:5px;
  }

  input{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #576271;
    text-indent: 1rem;
  }
}

