.page-container-wrapper{
  padding: 16px;
  height:100%;

  .page-container-row {
    .page-container-column {
      background-color: #fff;
      border-radius: 5px;
      padding: 16px;
      width: 100%;


      button{
        background-color: #9E241C;
        border: none;
        padding:10px;
        height:40px;
        width:80%;
        color: #fff;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom:16px;
        text-transform: none;
      }

      h1{
        font-size: 1.625rem;
        color: #576271;
        font-weight: 400;
      }


    }
  }
}