.equipments-container{


  .table-container{

    .well-header{

      h1{
        color: #576271;
        font-size: 1.5rem;
        font-weight: 600;
        border-bottom: 5px solid #9E241C;
        width:90%;
      }
      span{
        margin-bottom:5px;
        color: #576271;

      }
    }

    th{
      color: #707070;
      font-size: 1rem;
      font-weight: 600;
    }
    td{
      color: #707070;
      font-size: 1rem;
    }


    button{
      background-color: transparent;
      border: none;
      color: #707070;
      padding:5px;
      cursor: auto;
    }
  }

    .buttons-container {

      button{
        background-color: #9E241C;
        border: none;
        padding:10px;
        height:40px;
        width:90%;
        color: #fff;
        font-size: 0.95rem;
        font-weight: 600;
        text-transform: none;
        margin-bottom:16px;
        margin-left:8px;


        &:hover{
          background-color: #576271;
        }
      }

    }

}


.input-dialog-header{
  background-color: #EDEDED;
  height:30px;
  border: none;
  border-radius: 5px;
}

.label-dialog-header{
  color: #707070;
  font-size: 1rem;
}
.dialog-h1{
  font-size: 1.625rem;
  color: #576271;
  font-weight: 400;
  border-bottom: 5px solid #9E241C;
}

.dialog-table{
  font-size: 0.9rem;
  color: #576271;

  tr{

    td{
      font-size: 0.9rem;
      padding:5px;
      background-color:#DCDCDC;
      border-radius: 5px;
      text-align: center;
    }

    td:last-child{
      background-color:#fff;

      input{
        border:none;
        font-size: 0.9rem;
        text-align: center;
        text-indent: 0;
        width:50%;
      }
    }
  }

  }

.button-request{
  background-color: #9E241C;
  border: none;
  padding:10px;
  height:40px;
  width:90%;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: none;
  margin-bottom:16px;
  margin-left:8px;
}