.menu-container{
  background-color: #EBEBEB;
  border-right: 1px solid #707070;
  height:100vh;

  .menu-header{
    height:55px;
    background-color: #873131;

    img{
      width:40%;
    }
  }

  .menu-main{
    min-height:60%;

    .menu-link-primario{
      color: #576271;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;

      &:hover:active{
        color: #9E241C;
      }
    }

  }

  .menu-footer{
    min-height:20%;
    padding-left:16px;

    p{
      color: #576271;
      font-size: 0.875rem;
      font-family: 'Open Sans', sans-serif;
      margin-block-start: 0.60em;
      margin-block-end: 0.60em;
      text-align: left;
    }
  }
}