.appbar-container{
  height:55px;
  background-color:#fff;

  .appbar-search-container{
    .fa-search{
      color: #873131;
      position:absolute;
      top:13px;
      padding:5px;
    }

    input{
      height:50px;
      width:100%;
      border: none;
      border-color: #fff;
      color: #873131;
      padding-left:50px;
      @media all and (min-width: 1024px) and (max-width: 1280px) { height:40px; }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #873131;
      opacity: 1; /* Firefox */
    }
  }

  .appbar-icons-container{

    .MuiAvatar-circle{
      width:35px;
      height:35px;
    }

    .fa-bell{
      color: #C8B1B1;
    }
  }


}
